.a{
    width:300px;
    margin:100px auto auto;
}
button{
    width: 70px;
    margin: 2px;
    height: 70px;
}
*{
    font-size: xx-large;
}
.b{
    width: 300px;
    margin:100px auto auto;
}